@import url('https://fonts.googleapis.com/css?family=Encode+Sans');

* {
  font-family: 'Encode Sans', sans-serif;
}

.compare-exchanges {
  text-align: center;
}

.coin-overview {
  display: inline-block;
  margin: 0 10px;
}

.overview-header {
  text-decoration: underline;
}

.color-poloniex {
  background-color: #578470;
  color: #e6e6e6;
}

.color-bittrex {
  background-color: #5e6085;
  color: #e6e6e6;
}

.color-liqui {
  background-color: #bf907e;
  color: #e6e6e6;
}
